<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/styles.css"> 
  <title>Document</title>
</head>
<body>
  {{>header}}
  <img src="/img/pic1.jpeg">
  <p>{{text}}</p>
  {{>footer}}
</body>
</html>
